@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      <img src="https://content3.jdmagicbox.com/comp/malappuram/e6/9999px483.x483.170915184503.u8e6/catalogue/medicare-diagnostic-and-research-centre-edavann-vazhakkad-malappuram-pathology-labs-a4lfyhtubs.jpg" />
</div>
